<nav class="navbar navbar-expand navbar-dark bg-primary">
    <a href="#" class="navbar-brand">My Paymet App</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item" routerLink="payments/payments" routerLinkActive="active">
        <a href="javascript:void(0)" class="nav-link">List of Payments</a>
      </li>
      <li class="nav-item" routerLink="payments/add" routerLinkActive="active">
        <a href="javascript:void(0)" class="nav-link">Make Payment</a>
      </li>
    </div>
  </nav>
